
<ul>
<% for mutation in mutation.children %>
    <li><%= link_to_unless_current mutation.id, mutation %>
    > <%= mutation.mutation_id %>
    <% if !mutation.children.empty? %>
      <sup><%= toggle_div "Expand", mutation.id %></sup>
      <%= toggle_div_id "Expand", mutation.id %> 
        <%= render :partial => 'children', :locals => { :mutation => mutation } %>
      </div>
    <% end %>
<% end %>
</ul>

