<p>
  <ul>
    <% @mutation.children.each do |mutation| %>
      <li>
        <%= link_to_unless_current mutation.id, mutation_path(mutation) %>
<p>
  <ul>
    <% mutation.children.each do |mutation| %>
      <li>
        <%= link_to_unless_current mutation.id, mutation_path(mutation) %>
<p>
  <ul>
    <% mutation.children.each do |mutation| %>
      <li>
        <%= link_to_unless_current mutation.id, mutation_path(mutation) %>
<p>
  <ul>
    <% mutation.children.each do |mutation| %>
      <li>
        <%= link_to_unless_current mutation.id, mutation_path(mutation) %>
<p>
  <ul>
    <% mutation.children.each do |mutation| %>
      <li>
        <%= link_to_unless_current mutation.id, mutation_path(mutation) %>
<p>
  <ul>
    <% mutation.children.each do |mutation| %>
      <li>
        <%= link_to_unless_current mutation.id, mutation_path(mutation) %>
<p>
  <ul>
    <% mutation.children.each do |mutation| %>
      <li>
        <%= link_to_unless_current mutation.id, mutation_path(mutation) %>
<p>
  <ul>
    <% mutation.children.each do |mutation| %>
      <li>
        <%= link_to_unless_current mutation.id, mutation_path(mutation) %>
<p>
  <ul>
    <% mutation.children.each do |mutation| %>
      <li>
        <%= link_to_unless_current mutation.id, mutation_path(mutation) %>
<p>
  <ul>
    <% mutation.children.each do |mutation| %>
      <li>
        <%= link_to_unless_current mutation.id, mutation_path(mutation) %>
    <% end %>
  </ul>
</p> 
    <% end %>
  </ul>
</p> 
    <% end %>
  </ul>
</p> 
    <% end %>
  </ul>
</p> 
    <% end %>
  </ul>
</p> 
    <% end %>
  </ul>
</p> 
    <% end %>
  </ul>
</p> 
    <% end %>
  </ul>
</p> 
    <% end %>
  </ul>
</p> 
    <% end %>
  </ul>
</p> 
