<TABLE BORDER=0>
  <TR>
    <TD rowspan=2>

      <% div_for mutation do %>
        <b>
          <%= link_to_unless_current mutation.id, mutation_path(mutation) %>
        </b>

    </TD>
    <TD>

      <% mutation.ancestors.each do |mutation_ancestors| %>
        >>
        <%= link_to_unless_current mutation_ancestors.id, mutation_path(mutation_ancestors) %>
      <% end %>
      
      <% if @evolution %>
        >>>>>
        <%= link_to_unless_current @evolution.id, evolution_path(@evolution) %>
      <% end %>
    
    </TD>
  </TR>
  <TR>
    <TD>

      <% mutation.children.each do |mutation| %>
        << <%= link_to_unless_current mutation.id, mutation_path(mutation) %>

      <% mutation.children.each do |mutation| %>
        << <%= link_to_unless_current mutation.id, mutation_path(mutation) %>

      <% mutation.children.each do |mutation| %>
        << <%= link_to_unless_current mutation.id, mutation_path(mutation) %>

      <% mutation.children.each do |mutation| %>
        << <%= link_to_unless_current mutation.id, mutation_path(mutation) %>

      <% mutation.children.each do |mutation| %>
        << <%= link_to_unless_current mutation.id, mutation_path(mutation) %>

      <% mutation.children.each do |mutation| %>
        << <%= link_to_unless_current mutation.id, mutation_path(mutation) %>

      <% mutation.children.each do |mutation| %>
        << <%= link_to_unless_current mutation.id, mutation_path(mutation) %>

      <% mutation.children.each do |mutation| %>
        << <%= link_to_unless_current mutation.id, mutation_path(mutation) %>

      <% mutation.children.each do |mutation| %>
        << <%= link_to_unless_current mutation.id, mutation_path(mutation) %>

      <% mutation.children.each do |mutation| %>
        << <%= link_to_unless_current mutation.id, mutation_path(mutation) %>
      <% end %>
      <% end %>
      <% end %>
      <% end %>
      <% end %>
      <% end %>
      <% end %>
      <% end %>
      <% end %>
      <% end %>
<% end %>

    </TD>
</TABLE>

