<% title "Mutations" %>

<table>
  <tr>
    <th>Mutation</th>
    <th>Evolution</th>
  </tr>
  <% for mutation in @mutations %>
    <tr>
      <td><%=h mutation.mutation_id %></td>
      <td><%=h mutation.evolution_id %></td>
      <td><%= link_to "Show", mutation %></td>
      <td><%= link_to "Edit", edit_mutation_path(mutation) %></td>
      <td><%= link_to "Destroy", mutation, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Mutation", new_mutation_path %></p>
