<% title "New Mutation" %>

<% form_for @mutation do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :mutation_id %><br />
    <%= f.text_field :mutation_id %>
  </p>
  <p>
    <%= f.label :evolution_id %><br />
    <%= f.text_field :evolution_id %>
  </p>
  <p><%= f.submit "Send" %></p>
<% end %>

