
<p><fieldset><legend>
  <%= render :partial => @mutation_super %> 
</legend>

  <%= render :partial => 'mutations/show/ancestors_open', :locals => { :mutation => @mutation } %>

  <%= render :partial => 'mutations/show/current', :locals => { :mutation => @mutation } %>

  <%= render :partial => 'mutations/show/children', :locals => { :mutation => @mutation } %>

  <%= render :partial => 'mutations/show/ancestors_close', :locals => { :mutation => @mutation } %>

</fieldset></p>

