<ul>
<% for evolution in evolution.children %>
    <li><%= link_to_unless_current evolution.id, evolution %>
    > <%= evolution.evolution_id %>
    <% if !evolution.children.empty? %>
      <sup><%= toggle_div "Expand", evolution.id %></sup>
      <%= toggle_div_id "Expand", evolution.id %> 
        <%= render :partial => 'children', :locals => { :evolution => evolution } %>
      </div>
    <% end %>
<% end %>
</ul>

