<% evolution_current = evolution %>

<% evolution.ancestors.reverse.each do |evolution| %>

<ul>
  <%= render :partial => evolution, :locals => { :evolution => evolution } %>
<% end %>


<ul>
  <b><%= render :partial => evolution, :locals => { :evolution => evolution_current } %></b>
  [<%= toggle_div "New", "options" %>]
  <%= render :partial => 'evolutions/if/current/move' %>
  <%= render :partial => 'evolutions/if/current/move/all' %>
  <%= render :partial => 'evolutions/if/current/move/one' %>
  <%= render :partial => 'evolutions/if/current/clone' %>
  <%= render :partial => 'evolutions/if/current/clone/all' %>
  <%= render :partial => 'evolutions/if/current/clone/one' %>
  [<%= toggle_div "Extend", "options" %>]
  [<%= toggle_div "Del", "options" %>]
</legend>

  <%= toggle_div_id "New", "options" %>
    <%= render :partial => 'evolutions/if/current/new' %>
  </div>

  <%= toggle_div_id "Destroy", "options" %>
    <%= render :partial => 'evolutions/if/current/new' %>
  </div>

<ul>
  <%= render :partial => 'children', 
    :locals => {:evolution => evolution_current} %>
</ul>
</fieldset>

<% evolution_current.ancestors.each do |evolution| %>
</fieldset>
</ul>
<% end %>
