<% evolution_current = evolution %>
<% evolution_ancestors = evolution %>

<% evolution_ancestors.ancestors.reverse.each do |evolution| # for evolution ancestors, do evolution_ancestor %>

  <% if check_for_childship evolution, @evolution_move||@evolution_clone %>
    <b>
  <% end %>

  <fieldset>
  <legend>
    <%= render :partial => evolution, :locals => { :evolution => evolution } %>
  </legend>

<% end %>

<fieldset>
<legend>

  <%= render :partial => 'evolution' %>

  <b>

  [<%= toggle_div "do", "open" %>]

  <%= render :partial => 'evolutions/if/current/move/all' %>
  <%= render :partial => 'evolutions/if/current/move/one' %>
  <%= render :partial => 'evolutions/if/current/clone/all' %>
  <%= render :partial => 'evolutions/if/current/clone/one' %>

</legend>

  <%= toggle_div_id "do", "open" %>
  <ul>
  do:

    [<%= toggle_div "new", "open" %>]
    <%= render :partial => 'evolutions/if/current/move' %>
    <%= render :partial => 'evolutions/if/current/clone' %>
    [<%= toggle_div "extend", "open" %>]
    [<%= toggle_div "destroy", "open" %>]

    <%= toggle_div_id "new", "open" %>
      <ul>
        <%= render :partial => 'evolutions/if/current/new' %>
      </ul>
    </div>

    <%= toggle_div_id "destroy", "open" %>
      <ul>
        <%= render :partial => 'evolutions/if/current/new' %>
      </ul>
    </div>
  </ul>
  </b>
  <hr>
</div>

<%= render :partial => 'children', :locals => { :evolution => evolution_current } %>

<% evolution_ancestors.ancestors.each do |evolution| %>
  <% if check_for_childship evolution, @evolution_move||@evolution_clone %>
    </b>
  <% end %>
  </fieldset>
<% end %>

</fieldset>
