
<p><fieldset><legend><%= @evolution.class %></legend>

  <%= render :partial => 'evolutions/show/ancestors_open', :locals => { :evolution => @evolution } %>

  <%= render :partial => 'evolutions/show/current', :locals => { :evolution => @evolution } %>

  <%= render :partial => 'mutations/agenda/latest', :locals => { :evolution => @evolution } %>

  <%= render :partial => 'evolutions/show/children', :locals => { :evolution => @evolution } %>

  <%= render :partial => 'evolutions/show/ancestors_close', :locals => { :evolution => @evolution } %>

</fieldset></p>

