<p><fieldset><legend>Evolution</legend>

<% if @evolution_root %>
  <%= render :partial => 'evolutions/if/root' %>
<% end %>
<% if @evolution_parent %>
  <%= render :partial => 'evolutions/if/parent' %>
<% end %>
<% if @evolution %>
  <%= render :partial => 'evolutions/if/current' %>
<% end %>
<% if @evolution_move %>
  <%= render :partial => 'evolutions/if/move' %>
<% end %>
<% if @evolution_move_uni %>
  <%= render :partial => 'evolutions/if/move_uni' %>
<% end %>
<% if @evolution_clone %>
  <%= render :partial => 'evolutions/if/clone' %>
<% end %>
<% if @evolution_clone_uni %>
  <%= render :partial => 'evolutions/if/clone_uni' %>
<% end %>

</fieldset></p>
