
<%= toggle_div_id "Tree", "evolution" %>
  <%= render :partial => 'layouts/evolutions/tree' %>
</div>
<%= toggle_div_id "New", "evolution" %>
  <%= render :partial => 'layouts/evolutions/new' %>
</div>
<%= toggle_div_id "Clone", "evolution" %>
  <%= render :partial => 'layouts/evolutions/clone' %>
</div>
<%= toggle_div_id "Move", "evolution" %>
  <%= render :partial => 'layouts/evolutions/move' %>
</div>
<%= toggle_div_id "Destroy", "evolution" %>
  <%= render :partial => 'layouts/evolutions/destroy' %>
</div>


