<% evolution_current = evolution %>
<% evolution_current2 = evolution %>
<% evolution_ancestors = evolution %>

<% evolution_ancestors.ancestors.reverse.each do |evolution| # for evolution ancestors, do evolution_ancestor %>
  <% if check_for_childship evolution, @evolution_move||@evolution_clone %>
    <b>
  <% end %>
  <fieldset>
  <legend>
    <%= render :partial => evolution, :locals => { :evolution => evolution } %>
  </legend>
<% end %>

<fieldset>
<legend>
<b>
  <%= evolution_current.header||evolution_current.id %>
  [<%= toggle_div "do", "functions" %>]
  <%= render :partial => 'evolutions/functions/move/all' %>
  <%= render :partial => 'evolutions/functions/move/one' %>
  <%= render :partial => 'evolutions/functions/clone/all' %>
  <%= render :partial => 'evolutions/functions/clone/one' %>
</legend>

<%= toggle_div_id "do", "functions" %>
  <%= render :partial => 'evolutions/functions/menu' %>
</div>

</b>

<ul>
<% if !@evolution.detail %>
  <%= render :partial => 'evolutions/forms/detail' %>
<% elsif !@evolution.header %>
  <%= render :partial => 'evolutions/forms/header' %>
  <%= render :partial => 'evolutions/contents/detail' %>
<% else %>
  <%= render :partial => 'evolutions/contents/header' %>
  <%= render :partial => 'evolutions/contents/detail' %>
<% end %>
</ul>

<%= render :partial => 'evolutions/trees/children', :locals => { :evolution => evolution_current2 } %>

<% evolution_ancestors.ancestors.each do |evolution| %>
  <% if check_for_childship evolution, @evolution_move||@evolution_clone %>
    </b>
  <% end %>
  </fieldset>
<% end %>

</fieldset>
