
<% if @evolution.show_formatting %>
  <p><%= auto_link(simple_format(h(@evolution.detail))) %></p>
<% else %>
  <p><%= auto_link(h(@evolution.detail)) %></p>
<% end %>

  <%= toggle_div_id "edit", "detail" %>
    <p><%= render :partial => 'evolutions/forms/detail' %></p>
  </div>
  [<%= toggle_div "edit", "detail" %>]

