<% mutation_current = mutation %>
<% mutation_ancestors = mutation %>

<% mutation_ancestors.ancestors.reverse.each do |mutation| # for mutation ancestors, do mutation_ancestor %>

  <% if check_for_childship mutation, @mutation_move||@mutation_clone %>
    <b>
  <% end %>

  <fieldset>
  <legend>
    <%= render :partial => mutation, :locals => { :mutation => mutation } %>
  </legend>

<% end %>

<fieldset>
<legend>

  <%= render :partial => 'mutation' %>

  <b>

  [<%= toggle_div "do", "open" %>]

  <%= render :partial => 'mutations/functions/move/all' %>
  <%= render :partial => 'mutations/functions/move/one' %>
  <%= render :partial => 'mutations/functions/clone/all' %>
  <%= render :partial => 'mutations/functions/clone/one' %>

</legend>

  <%= toggle_div_id "do", "open" %>
  <ul>
  do:

    [<%= toggle_div "new", "open" %>]
    <%= render :partial => 'mutations/functions/move' %>
    <%= render :partial => 'mutations/functions/clone' %>
    <%= render :partial => 'mutations/functions/destroy' %>

    <%= toggle_div_id "new", "open" %>
      <ul>
        <%= render :partial => 'mutations/functions/new' %>
      </ul>
    </div>

  </ul>
  </b>
  <hr>
</div>

<%= render :partial => 'mutations/trees/children', :locals => { :mutation => mutation_current } %>

<% mutation_ancestors.ancestors.each do |mutation| %>
  <% if check_for_childship mutation, @mutation_move||@mutation_clone %>
    </b>
  <% end %>
  </fieldset>
<% end %>

</fieldset>
