
<% form_for @evolution do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :detail %>
    <br /><%= f.text_area :detail, :cols => 90 %>
  <p>
    <%= f.check_box :show_formatting %>
    <%= f.label :show_formatting %>
  </p>
  <p><%= f.submit "Go" %></p>
<% end %>



