
<%= toggle_div_id "Tree", "mutation" %>
  <%= render :partial => 'layouts/mutations/tree' %>
</div>
<%= toggle_div_id "New", "mutation" %>
  <%= render :partial => 'layouts/mutations/new' %>
</div>
<%= toggle_div_id "Clone", "mutation" %>
  <%= render :partial => 'layouts/mutations/clone' %>
</div>
<%= toggle_div_id "Move", "mutation" %>
  <%= render :partial => 'layouts/mutations/move' %>
</div>
<%= toggle_div_id "Destroy", "mutation" %>
  <%= render :partial => 'layouts/mutations/destroy' %>
</div>


