
<hr>
<ul>

  do: 
    [<%= toggle_div "new", "functions" %>]
    <%= render :partial => 'mutations/functions/move' %>
    <%= render :partial => 'mutations/functions/clone' %>
    [<%= link_to 'edit', :action => 'toggle_edit', :id => @mutation.id %>]
    [<%= link_to 'prioritize', :action => 'get_agenda', :id => @mutation.id %>]
    <%= render :partial => 'mutations/functions/destroy' %>

<%= toggle_div_id "new", "functions" %>
  <%= render :partial => 'mutations/functions/new' %>
</div>

</ul>
<hr>



