
<hr>
<ul>

  do: 
    [<%= toggle_div "new", "functions" %>]
    <%= render :partial => 'evolutions/functions/move' %>
    <%= render :partial => 'evolutions/functions/clone' %>
    <%= render :partial => 'evolutions/functions/destroy' %>

<%= toggle_div_id "new", "functions" %>
  <%= render :partial => 'evolutions/functions/new' %>
</div>

</ul>
<hr>



