
<%= toggle_div_id "do", "open" %>

<hr>

  <ul>

  do: 
    [<%= toggle_div "new", "open" %>]
    <%= render :partial => 'evolutions/functions/move' %>
    <%= render :partial => 'evolutions/functions/clone' %>
    <%= render :partial => 'evolutions/functions/destroy' %>
    [<%= toggle_div "content", "functions" %>]

    <%= render :partial => 'evolutions/functions/new' %>

    <%= render :partial => 'evolutions/functions/content' %>

  </ul>

<hr>

</div>


