<% if @evolution || @mutation || @mutations %>

<fieldset><legend><b>Evolution</b></legend>
<p>
<fieldset><legend><b>Mutation</b></legend>

  <% if @evolution %>
    <%= toggle_div "New", "new_mutation" %>
  <% end %>
  <% if @mutation %>
    | <%= toggle_div "Clone", "clone_mutation" %>
    | <%= toggle_div "Move", "move_mutation" %>
    | <%= toggle_div "Destroy", "destroy_mutation" %>
  <% end %>

<% end %>

#... vim codesnip for partials
  <% if session[:mutation_to_clone_current] %>
    <%= render :partial => 'layouts/mutations/clone/current' %>
  <% end %>
  <% if session[:mutation_to_clone_current_and_past] %>
    <%= render :partial => 'layouts/mutations/clone/current_and_past' %>
  <% end %>

  <%= toggle_div_id "New", "new_mutation" %>
    <%= render :partial => 'layouts/mutations/new' %>
  </div>
  <%= toggle_div_id "Clone", "clone_mutation" %>
    <%= render :partial => 'layouts/mutations/clone' %>
  </div>
  <%= toggle_div_id "Move", "move_mutation" %>
    <%= render :partial => 'layouts/mutations/move' %>
  </div>
  <%= toggle_div_id "Destroy", "destroy_mutation" %>
    <%= render :partial => 'layouts/mutations/destroy' %>
  </div>

</fieldset>
</p>
</fieldset>
