<p>

<b>Mutations: </b> 
<% if @evolution %>
  <%= toggle_div "New", "new_mutation" %> |
<% end %>
<% if @mutation %>
  <%= toggle_div "Clone", "clone_mutation" %> |
  <%= toggle_div "Move", "move_mutation" %> |
  <%= toggle_div "Destroy", "destroy_mutation" %>
<% end %>
<% if session[:move_mutation_id] %> 
  <%= render :partial => 'layouts/link_mutation_in_move' %>
<% end %>


<%= render :partial => 'layouts/link_mutation_new' %>
<%= render :partial => 'layouts/link_mutation_clone' %>
<%= render :partial => 'layouts/link_mutation_move' %>
<%= render :partial => 'layouts/link_mutation_destroy' %>

</p>
