<p>
  <% if @evolution %>
    <b><%= link_to_unless_current "Evolution >> Mutations", evolution_mutations_path(@evolution) %></b>
    | <%= link_to_unless_current "new peer", new_evolution_mutation_path(@evolution) %>
  <% end %>
  <% if @mutation %>
    | <%= link_to_unless_current "new child", new_mutation_child_path(:mutation_id => @mutation.id) %>
    | <%= link_to_unless_current "self", mutation_path(@mutation) %></b>
    | <%= link_to_unless_current "edit", edit_mutation_path(@mutation) %>
    | <%= link_to "destroy", @mutation, :confirm => "Delete?", :method => :delete %>
  <% end %>
</p>


